*{
  margin: 0;
  padding: 0;
}
Button {
  margin-top: 10;
  border-radius: 50;
  color: #fff;
  padding: 10 0 ;
}
Button:pressed {
  transform: scale(.97);
}
ActionBar {
  color: #ffffff;
}
TextField {
  font-size: 16;
  margin-top: 10;
  border-radius: 50;
  background: transparent;
  placeholder-color: #fff;
  color: #fff;
  padding: 10;
}
.icon {
  font-family: 'icomoon';
  color: #40739e;
  margin-right: 5;
  font-size: 26;
}
.first-page {
  padding: 15;
  background: url('~/images/nn.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}